In [8]:
import time
import numpy as np
import cv2
import pandas as pd
import matplotlib.pyplot as plt
from scipy import signal
import os, errno
import glob

In [14]:
source = r"E:\Downloads\ManducaMultiSenseData\Step1"
window = r"E:\Downloads\ManducaMultiSenseData\Step3"
outpath = r"E:\Downloads\ManducaMultiSenseData\Motion\Centroids_Relevant"

In [15]:
csv_list = glob.glob(source + "\*.csv")
# csv_list = csv_list[:7] + csv_list[9:]

In [16]:
csv_list[0][41:-4]

'L0.1_c-3_m10'

In [17]:
new_df

     FrameNumber  X_position  Y_position  VisitNumber
0          20377    1.756757   14.290541            0
1          20378         NaN         NaN            0
2          20379    5.912162   15.236486            0
3          20380    2.263514   12.702703            0
4          20381    2.905405   13.581081            0
..           ...         ...         ...          ...
331        20708    0.270270   11.216216            0
332        20709    0.574324   13.209459            0
333        20710    0.270270    8.716216            0
334        20711    0.236486    8.648649            0
335        20712    0.202703    8.614865            0

[336 rows x 4 columns]

In [18]:
for element in csv_list:
    df = pd.read_csv(element)
    
    win = pd.read_csv(window + "\\" + element[41:-4] + "_MothInOut_labeled.csv")
    
    In = win[(win.label.values>0)].In_Frame.values
    Out = win[(win.label.values>0)].Out_Frame.values
    i = 0
    while i < len(In):
        start = In[i]
        end = Out[i]
        frame = df[start:end].index.values
        x = df[start:end].Centroid_hull_x.values*2.5/74
        y = df[start:end].Centroid_hull_y.values*2.5/74
        
        new_df = pd.DataFrame({"FrameNumber": frame, "X_position": x, "Y_position": y, "VisitNumber": [i]*len(x)})
        new_df.to_csv(outpath + "\\"+ element[41:-4] + "_" + str(i) + "_" + str(In[i]) + ".csv")
        
        i+=1